@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /*消除底部留白(效果較display-block好)*/
  -o-object-fit: cover;
     object-fit: cover;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Colors*/
/*Font-size*/
body {
  font-family: 'Noto Sans', sans-serif;
}

body h2 {
  font-size: 28px;
}

/*link-hover*/
.nav-link:hover {
  color: #6A33F8 !important;
}

/*margin*/
.mt-32 {
  margin-top: 32px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-80 {
  margin-bottom: 80px;
}

/*overflow*/
.overflow-x-auto {
  overflow-x: auto;
}

/*評論元件*/
.commendCard {
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #707070;
  margin-bottom: 20px;
}

.commendCard .headImg {
  width: 95px;
  height: auto;
  margin-right: 16px;
}

.commendCard .commendCard-body {
  margin-top: 12px;
  margin-bottom: 12px;
}

.commendCard .commendCard-body .commendCard-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.25;
  margin-bottom: 8px;
}

.commendCard .commendCard-body .commendCard-title .bodyImg {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.commendCard .commendCard-body .commendCard-title p {
  font-weight: bold;
}

.commendCard .commendCard-body .commendCard-title span {
  color: #6A33F8 !important;
  font-size: 14px;
}

.commendCard .commendCard-body .commendCard-text {
  font-weight: bold;
}

/*運送方式元件*/
.transportItem .transportItem-icon {
  border: 3px solid black;
  border-radius: 50%;
  background-color: #ffff;
  width: 115px;
  height: 115px;
  position: relative;
}

.transportItem .transportItem-icon span {
  position: absolute;
  top: 30px;
  left: 25px;
  font-size: 50px;
}

.transportItem .transportItem-text {
  font-size: 20px;
  text-align: center;
  margin-top: 8px;
  line-height: 1.5;
}

/*商品元件*/
.productCard .productCard-head {
  position: relative;
}

.productCard .productCard-head img {
  width: 255px;
  width: 100%;
  height: 302px;
}

.productCard .productCard-head span {
  font-size: 20px;
  color: #ffff;
  background-color: black;
  padding: 11px 22px;
  position: absolute;
  top: 5%;
  right: -5px;
}

.productCard .productCard-head button {
  width: 100%;
  height: 48px;
  border: 0px;
  background-color: black;
  color: #ffff;
  font-size: 20px;
}

.productCard .productCard-head button:hover {
  background-color: #555151;
}

.productCard .productCard-text {
  margin-top: 8px;
  margin-bottom: 28px;
}

.productCard .productCard-text p {
  font-size: 20px;
}

.productCard .productCard-text p:nth-child(1) {
  margin-bottom: 8px;
}

.productCard .productCard-text p:nth-child(2) {
  text-decoration: line-through;
}

.productCard .productCard-text p:nth-child(3) {
  font-size: 28px;
}

/*pages*/
.header-baseLine {
  border: solid black;
  background-color: black;
  width: 100%;
  height: 40px;
}

.wowoSlogan {
  margin-top: 32px;
  margin-bottom: 60px;
}

.wowoSlogan .wowoSlogan-banner {
  background-image: url("https://github.com/hexschool/js-training/blob/main/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/3ewLAKn.png?raw=true");
  background-size: cover;
  background-position: center 100%;
  height: 420px;
  position: relative;
}

.wowoSlogan .wowoSlogan-banner .wowoSlogan-bannerText {
  font-size: 32px;
  line-height: 1.25;
  color: #ffff;
  position: absolute;
  top: 70%;
  left: 7%;
}

.advantages {
  margin-bottom: 60px;
}

.advantages h2 {
  margin-bottom: 28px;
}

.compare {
  margin-bottom: 64px;
}

.compare h2 {
  margin-bottom: 32px;
}

.compare .table thead {
  border-bottom: 1px solid #B9B9B9;
}

.compare .table tr {
  border-bottom: 1px solid #B9B9B9;
}

.commend {
  background-color: #301E5F !important;
  max-width: 1920px;
  width: 100%;
  height: 424px;
}

.commend h2 {
  color: #ffff;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 32px;
}

.transport li {
  position: relative;
}

.transport li .arrow {
  position: absolute;
  font-size: 28px;
  top: 25%;
  left: 85%;
}

.productSearch {
  margin-top: 72px;
}

.productCard-area {
  margin-bottom: 108px;
}

.cartList {
  margin-bottom: 130px;
}

.cartList thead th {
  font-size: 20px;
  font-weight: bold;
  padding-right: 120px;
  border-bottom: 1px solid black;
}

.cartList thead .cartList-head {
  padding-right: 280px;
}

.cartList tbody img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.cartList tbody td {
  font-size: 20px;
  border-bottom: 1px solid #bbb9b9;
}

.cartList tbody p {
  margin-top: 28px;
  font-weight: bold;
}

.cartList tfoot td {
  font-size: 20px;
}

.cartList tfoot .cartList-total {
  font-size: 28px;
}

.orderTable tbody th {
  font-size: 24px;
}

.orderTable tbody td {
  font-size: 24px;
}

.c3-axis-x text {
  font-size: 24px;
  font-weight: bold;
}
